body {
    background: #f4f4f4;
}
#main .container{
    height: 100vh;
}
/*Nav bar*/
.navbar {
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav>li>a,
.navbar-brand {
    padding-top: 6px;
    padding-bottom: 0;
    height: 33px;
}

.navbar-default {
    background-color: #70c4f5;
    border-color: #70c4f5;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffbbbc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffbbbc;
    background-color: #70c4f5;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ffbbbc;
    background-color: #70c4f5;
}

.navbar-default .navbar-toggle {
    border-color: #70c4f5;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #70c4f5;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}
/*Header*/
.main-color-bg {
    background-color: #70c4f5 !important;
    border-color: #70c4f5 !important;
    color: white !important;
}
#header{
    background: #333333;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#header .create{
    padding-top: 20px;
}


/*Breadcumb*/
.breadcrumb{
    background: #cccccc;
    color: #333333;
    
}
.breadcrumb a{
    color: #333333; 
}
.progress-bar{
    background: #333333;
    color: white; 
}

.dash-box{
    text-align: center;
}

#footer{
    background: #333333;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}
#login{
    margin-top: 30px; 
}




/*<media queries*/

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ffbbbc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffbbbc;
        background-color: #70c4f5;
    }
}